<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Media Queries</title>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="style.css">
  <!-- Scripts -->
  <script defer src="script.js"></script>

</head>

<body>

  {% include "nav.njk" %}

  <main>
    <a href="#" class="toggle-nav">
            <img src="assets/menu.svg"> Menu
        </a>

        <article>

            <h1>Media Queries</h1>
            <p>Mobile Devices will see information about Christmas</p>
            <p>Tablets will see information about Thanksgiving</p>
            <p>Desktop will see information about Halloween</p>

        </article>

     {% include "footer.njk" %}
  </main>

</body>

</html>