/* Stylesheet */


/* load local font  */

@font-face {
    font-family: "Comico Regular";
    src: url(assets/Comico-Regular.woff), url(assets/Comico-Regular.woff2);
}

@font-face {
    font-family: "Chubbo Light";
    src: url(assets/Chubbo-Light.woff), url(assets/Chubbo-Light.woff2);
}

@font-face {
    font-family: "Zodiac Light";
    src: url(assets/Zodiak-Light.woff), url(assets/Zodiak-Light.woff2);
}

body {
    /* base styling */
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}


/* Nav Menu */

nav {
    /* position'ing */
    margin: 0;
    position: fixed;
    height: 20%;
    /*  alignment  */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* Nav Links */

nav a {
    padding: 1em;
    color: #ffffff;
    text-decoration: none;
    background-color: black;
    border-radius: 5%;
    margin: 5px 32px 5px 32px;
}


/* Main : Hide Menu */

main {
    position: relative;
    z-index: 1;
    background-size: cover;
    min-height: 100vh;
    padding: 1em;
    color: white;
    /* x translate matches width of navigation */
    transform: translate(0, 0);
    /* animate with transition */
    transition: transform 0.25s;
}

article {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article p {
    width: 50%;
    border-radius: .5em;
    background-color: black;
    padding: .5em;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
}


/* Menu Button */

a.toggle-nav {
    display: inline-block;
    padding-top: 1em;
    text-decoration: none;
    color: white;
}


/* Menu Button Icon */

a.toggle-nav img {
    vertical-align: middle;
}


/* Mobile 
  0 to 26em (416 pixels)
*/

@media only screen and (min-width: 0) {
    body {
        font-family: "Chubbo Light";
    }
    main {
        background: green;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    nav {
        flex-direction: column;
        background: red;
        color: white;
        width: 100%;
        height: 200px;
        margin-bottom: .5em;
    }
    nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 10%;
        font-size: .6em;
        padding: .2em;
    }
    h1 {
        font-size: 1em;
    }
    article p {
        font-size: .75em;
    }
    article p:nth-child(odd) {
        color: red;
    }
    main.open {
        transform: translate(0, 200px);
    }
}


/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/

@media only screen and (min-width: 26em) {
    body {
        font-family: "Zodiak Light";
    }
    main {
        background: brown;
        overflow-x: hidden;
    }
    nav {
        flex-direction: row;
        background: tan;
        width: 100%;
        color: white;
        height: 15%;
    }
    nav a {
        margin-top: .9em;
        padding: 1em;
        height: 15%;
        font-size: 1em;
    }
    h1 {
        font-size: 2em;
    }
    article p {
        font-size: 1em;
    }
    article p:nth-child(odd) {
        color: tan;
    }
    main.open {
        transform: translate(0, 7%);
    }
}


/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/

@media screen and (min-width: 72em) {
    body {
        font-family: "Comico Regular";
    }
    main {
        background-image: url(assets/peakpx.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    nav {
        flex-direction: row;
        background: rgba(237, 82, 5, 100%);
        color: white;
        width: 100%;
        height: 100px;
    }
    nav a {
        height: 20%;
    }
    main.open {
        transform: translate(0, 100px);
    }
    h1,
    h2 {
        padding: .5em;
        border-radius: .5em;
        background-color: rgba(255, 255, 255, 60%);
        font-size: 2em;
        color: black;
    }
    article p {
        font-size: .6em;
    }
    article p:nth-child(odd) {
        color: orange;
    }
}